@import "tailwindcss";


html {
  --app-bg: url("/bg-light-theme.png");
}

html.dark {
  --app-bg: url("/bg-dark-theme.png");
}

body {
  font-family: var(--font-dm-sans);
  background-image: var(--app-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

}
